* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* VIDEO SECTION */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
}

/* HERO CENTER BOX */
.hero-overlay {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

/* INITIAL THE VOICES TEXT */
.enter-btn {
  text-decoration: none;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: 2px;
  color: #BAFF69;
  transition: .8s ease;
  pointer-events: none;
}

/* AFTER 6 SECONDS, TURN INTO BUTTON */
.enter-btn.active {
  background: #BAFF69;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  padding: 14px 36px;
  pointer-events: auto;
  box-shadow: 0 0 12px rgba(186, 255, 105, 0.7);
}

.enter-btn.active:hover {
  transform: scale(1.06);
  box-shadow: 0 0 20px #BAFF69;
}

/* RESPONSIVE MOBILE */
@media (max-width: 600px) {

  .hero-overlay {
    bottom: 90px;
  }

  .enter-btn {
    font-size: 36px;
  }

  .enter-btn.active {
    font-size: 18px;
    padding: 14px 26px;
    width: 72%;
  }
}
