* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f9;
}

/* TOP BAR */
.topbar {
  height: 60px;
  background: linear-gradient(90deg, #000, #222);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.brand {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.brand span {
  color: gold;
}

.topbar button {
  background: gold;
  border: none;
  padding: 8px 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

/* CONTAINER */
.container {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 20px;
}

/* INPUTS */
.create-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* BUTTON */
.create-card button {
  width: 100%;
  padding: 12px;
  background: black;
  color: gold;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

/* LIST */
.list-card ul {
  list-style: none;
}

.list-card li {
  padding: 12px;
  border-radius: 6px;
  background: #f1f1f1;
  margin-bottom: 10px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.list-card li span {
  color: gray;
  font-size: 13px;
}
